.deatils-main {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    /* background-color: #F86F14; */
    color: white;
    padding: 20px;
  }
  
  .details-card {
    display: flex;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .details-card-image img {
    max-width: 500px;
  }
  
  .details-card-content {
    max-width: 500px;
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
  }
  
  .details-card-content h2 {
    color: #7373e2;
  }
  
  .details-card-content span {
    font-size: 18px;
  }
  
  .dcc-bttn button {
    background-color: #7373e2;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 10px;
  }