.main-div {
    margin: 0px 20px;

}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {}

.nav-logo img {
    /* margin: 0; */
    width: 105px;
    margin-top: 10px;
}

.nav-search {
    display: flex;
    align-items: center;
}

.nav-search-input input {
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: whitesmoke;
    display: flex;
    padding: 3px;
    align-items: center;
}

.nav-search-input {
    background-color: whitesmoke;
    border-radius: 20px;
    display: flex;
    padding: 3px 10px;
}

.nav-search-icon {
    /* background-color: #7676fa; */
    color: #6b6bfb;
    border-radius: 20px;
    height: 30px;
    width: 20px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-cart {
    display: flex;


}

.home-btn {
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);


}

.hom-icon {
    font-size: 19px;
}

.profile-btn {}

.profile-icon {
    font-size: 16px;
    justify-content: center;
}

.drop {
    display: none;
    position: absolute;
    background-color: #bbbbfa;
    min-width: 160px;
    padding: 18px 10px ;
    border-radius: 8px;
    margin-top: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.drop:hover{
    background: #7575e2;

}
.drop-bar{
    display: flex;
    /* padding: 10px; */

}
.drop a {
    display: block;
    text-decoration: none;
    color: black;
    /* padding: 10px; */
}

.drop a:hover {
    /* background-color: #ddd; */
}

.profile-btn:hover .drop {
    display: block;
}

.nav-cart-btn1 {
    border: none;
    width: 110px;
    height: 25px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 4px rgb(202, 192, 192);
    margin: 0px 5px;
}
.nav-cart-btn1:hover{
    background: #bbbbfa;
}

.nav-cart-btn2 {
    border: none;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    background-color: white;

    /* background-color: #7676fa; */
    box-shadow: 2px 2px 4px rgb(202, 192, 192);

}
.nav-cart-btn2:hover{
    background: #9494f0;

}

.cart-icon {
    font-size: 15px;
}

.nav-span {
    color: #3131fe;
}

.dropbtn {
    background-color: white;
    color: rgb(18, 18, 18);
    padding: 10px;
    font-size: 16px;
    border: none;
    font-family: Rubik;
    font-weight: 500;

}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 10px;


}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* .dropdown:hover .dropbtn {background-color:  #DFCCFB;} */
.body-img img {
    height: 400px;
    width: 100%;
}
.body-img{
    height: 100px;
}


.mains {
    width: 100%;
    height: 600px !important;
}

/******************* Profile *****************/
.profile-container{
    width: 1000px;
}
.padding {
    padding: 3rem !important;
    margin-left: 200px
}

.card-img-top{
    height:300px;
}

.card-no-border .card {
    border-color: #d7dfe3;
    border-radius: 4px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.pro-img {
    margin-top: -80px;
    margin-bottom: 20px
}

.little-profile .pro-img img {
    width: 128px;
    height: 128px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 100%
}

html body .m-b-0 {
    margin-bottom: 0px
}

h3 {
    line-height: 30px;
    font-size: 21px
}

.btn-rounded.btn-md {
    padding: 12px 35px;
    font-size: 16px
}

html body .m-t-10 {
    margin-top: 10px
}

.btn-primary,
.btn-primary.disabled {
    background: #7460ee;
    border: 1px solid #7460ee;
    -webkit-box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
    box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in
}

.btn-rounded {
    border-radius: 60px;
    padding: 7px 18px
}

.m-t-20 {
    margin-top: 20px
}

.text-center {
    text-align: center !important
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #455a64;
    font-family: "Poppins", sans-serif;
    font-weight: 400
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}


/* ************************ BuyNow ************************************ */


.main-buy{
    /* background: #9a8eec; */
    background: #d0d0d3;
    /* background: black; */
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.buy-now{
    height: 300px;
    width: 900px;
    /* background-color: #6f6f79; */
    display: flex;
    /* border: 3px solid #1818ff; */
    justify-content: center;
    align-items: center;
}
.buy-now h1{
    color: #1818ff;
}